body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
}

#calorieForm {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

.genderLabel {
    margin-right: 10px;
}
input[type="radio"]{
    margin-right: 5px;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}