<div class="container-fluid my-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <div class="card shadow-sm mb-4">
        <div class="card-body text-center">
          <div class="weight-chart my-2">
            <google-chart [title]="chart.title" [type]="chart.chartType" [data]="chart.dataTable" [columns]="chart.columns" [options]="chart.options"></google-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-10 text-center">
      <div class="row">
        <div class="col-12 col-md-6 mb-4">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title"><i class="fas fa-weight"></i> BMI-Diagramm</h5>
              <button class="btn btn-primary mt-2" (click)="navigateToChart('profile/bmi')">Ansehen</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-4">
          <div class="card shadow-sm">
            <div class="card-body text-center">
              <h5 class="card-title"><i class="fas fa-fire"></i> Kalorien-Diagramm</h5>
              <button class="btn btn-primary mt-2" (click)="navigateToChart('profile/calories')">Ansehen</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4 mb-5 justify-content-center">
        <div class="col-12 col-sm-auto mb-2 mb-md-0">
          <button class="btn btn-danger" (click)="openDeleteConfirmation()"><i class="fas fa-trash-alt"></i> Alle Daten löschen</button>
        </div>
        <div class="col-12 col-sm-auto">
          <button class="btn btn-secondary" (click)="navigateToProfile()"><i class="fas fa-arrow-left"></i> Zurück zum Profil</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showConfirmDeleteModal" class="modal-overlay" (click)="cancelDelete()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="cancelDelete()">&times;</span>
    <h5 class="modal-title">Löschen bestätigen</h5>
    <div class="modal-body">
      Möchten Sie wirklich <strong>alle erfassten Daten</strong> löschen?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary mx-2" (click)="cancelDelete()">Abbrechen</button>
      <button type="button" class="btn btn-danger mx-2" (click)="deleteData()">Löschen</button>
    </div>
    <div class="modal-footer-sm">
      <button type="button" class="btn btn-sm btn-secondary mx-2" (click)="cancelDelete()"><i
          class="fa-solid fa-ban"></i></button>
      <button type="button" class="btn btn-danger mx-2" (click)="deleteData()"><i
          class="fas fa-trash-alt"></i></button>
    </div>
  </div>
</div>