<div class="modal-backdrop show"></div>
<div class="modal d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Aktivitätslevel Info</h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Hier sind die verschiedenen Aktivitätslevel und ihre Beschreibungen:</p>
        <ul>
          <li><strong>Sedentär:</strong> wenig bis keine Bewegung</li>
          <li><strong>Leicht aktiv:</strong> leichte Bewegung/Sport 1-3 Tage die Woche</li>
          <li><strong>Mässig aktiv:</strong> mässige Bewegung/Sport 3-5 Tage die Woche</li>
          <li><strong>Sehr aktiv:</strong> intensive Bewegung/Sport 6-7 Tage die Woche</li>
          <li><strong>Extra aktiv:</strong> sehr intensive tägliche Bewegung/körperliche Arbeit</li>
        </ul>
      </div>
    </div>
  </div>
</div>
