<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <h5>Lebensmittelinformationen pro 100g eingeben</h5>
    <div class="modal-body">
      <form [formGroup]="foodInfoForm" (ngSubmit)="onSubmit()">
        <div class="form-group row mt-4">
          <label for="foodName" class="col-sm-3 col-form-label">Lebensmittelname:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="foodName" formControlName="foodName" required />
          </div>
        </div>
        <div class="form-group row mt-4">
          <label for="kcal" class="col-sm-3 col-form-label">Kcal:</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="kcal" formControlName="kcal" required (input)="checkNegativeValue('kcal')" />
          </div>
        </div>
        <div class="form-group row mt-4">
          <label for="carbs" class="col-sm-3 col-form-label">Kohlenhydrate:</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="carbs" formControlName="carbs" required (input)="checkNegativeValue('carbs')" />
          </div>
        </div>
        <div class="form-group row mt-4">
          <label for="protein" class="col-sm-3 col-form-label">Protein:</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="protein" formControlName="protein" required (input)="checkNegativeValue('protein')" />
          </div>
        </div>
        <div class="form-group row mt-4 mb-4">
          <label for="fat" class="col-sm-3 col-form-label">Fett:</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="fat" formControlName="fat" required (input)="checkNegativeValue('fat')" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mx-2" (click)="closeModal()">Abbrechen</button>
          <button *ngIf="isUpdating" type="submit" class="btn btn-primary mx-2" (click)="update()">Aktualisieren</button>
          <button *ngIf="!isUpdating" type="submit" class="btn btn-primary mx-2" (click)="save()">Speichern</button>
        </div>
        <div class="modal-footer-sm">
          <button type="button" class="btn btn-sm btn-secondary mx-2" (click)="closeModal()"><i class="fa-solid fa-ban"></i></button>
          <button *ngIf="isUpdating" type="submit" class="btn btn-sm btn-primary"><i class="fa-regular fa-floppy-disk"></i></button>
          <button *ngIf="!isUpdating" type="submit" class="btn btn-sm btn-primary"><i class="fa-regular fa-floppy-disk"></i></button>    
        </div>
      </form>
    </div>
  </div>
</div>
