<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeModal()">&times;</span>
    <h5 class="modal-title">{{ foodName }}</h5>
    <div class="modal-body">
      <form ngNativeValidate [formGroup]="existingFoodForm" (ngSubmit)="onSubmit()">
        <div class="form-group row mt-4">
          <label for="kcal" class="col-sm-3 col-form-label">Kcal:</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="kcal" formControlName="kcal" />
          </div>
        </div>
        <div class="form-group row mt-4">
          <label for="carbs" class="col-sm-3 col-form-label">Kohlenhydrate:</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="carbs" formControlName="carbs" />
          </div>
        </div>
        <div class="form-group row mt-4">
          <label for="protein" class="col-sm-3 col-form-label">Protein:</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="protein" formControlName="protein" />
          </div>
        </div>
        <div class="form-group row mt-4 mb-4">
          <label for="fat" class="col-sm-3 col-form-label">Fett:</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="fat" formControlName="fat" />
          </div>
        </div>
        <div class="form-group row mt-2">
          <label for="date" class="col-sm-3 col-form-label">Datum:</label>
          <div class="col-sm-9">
            <input type="date" id="date" formControlName="date" class="form-control"/>
          </div>
        </div>
        <div class="form-group row mt-4">
          <label for="meal" class="col-sm-3 col-form-label">Mahlzeit:</label>
          <div class="col-sm-9">
            <select class="form-control dropdown-arrow" id="meal" formControlName="meal">
              <option *ngFor="let meal of meals" [value]="meal.mealKey">{{ meal.mealName }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row mt-4">
          <label for="quantity" class="col-sm-3 col-form-label">Gramm/ml:</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="quantity" formControlName="quantity">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" (click)="editFood()">Bearbeiten</button>
          <button type="button" class="btn btn-secondary mx-3" (click)="closeModal()">Abbrechen</button>
          <button *ngIf="ftuKey" type="submit" class="btn btn-primary">Aktualisieren</button>
          <button *ngIf="!ftuKey" type="submit" class="btn btn-primary">Speichern</button>    
        </div>
        <div class="modal-footer-sm">
          <button type="button" class="btn btn-sm btn-warning" (click)="editFood()"><i class="fa-solid fa-pen-to-square"></i></button>
          <button type="button" class="btn btn-sm btn-secondary mx-3" (click)="closeModal()"><i class="fa-solid fa-ban"></i></button>
          <button *ngIf="ftuKey" type="submit" class="btn btn-sm btn-primary"><i class="fa-regular fa-floppy-disk"></i></button>
          <button *ngIf="!ftuKey" type="submit" class="btn btn-sm btn-primary"><i class="fa-regular fa-floppy-disk"></i></button>    
        </div>
        <div class="alert alert-warning my-4" *ngIf="showMessage">
          Bitte tragen Sie einen Wert im Gramm/ml-Feld ein.
        </div>
      </form>
    </div>
  </div>
</div>
