<div class="container my-5">
  <h2>Gewicht erfassen</h2>
  
  <div class="weight-entry">
    <form id="weightForm" [formGroup]="weightForm" ngNativeValidate>
      <div class="form-group row mt-2">
        <label for="weight" class="col-sm-3 col-form-label">Körpergewicht:</label>
        <div class="col-sm-9">
          <input type="number" id="weight" name="weight" formControlName="weight" class="form-control" placeholder="kg" required>
        </div>
      </div>
    
      <div class="form-group row mt-2">
        <label for="date" class="col-sm-3 col-form-label">Datum:</label>
        <div class="col-sm-9">
          <input type="date" id="date" name="date" formControlName="date" class="form-control" required>
        </div>
      </div>
    
      <button type="submit" class="btn btn-primary" (click)="save()">Speichern</button>
    </form>
  </div>
</div>

  <div class="weight-chart my-2">
    <canvas id="weightChart" style="width: 100%; height: 15vh;"></canvas>
  </div>