<div class="container my-5">
  <h2>Login</h2>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label for="login" class="form-label">Benutzername</label>
          <input
            type="text"
            id="login"
            class="form-control"
            [(ngModel)]="login"
            name="login"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Passwort</label>
          <input
            type="password"
            id="password"
            class="form-control"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <button type="submit" class="btn btn-primary">Login</button>
          <span>
            Noch keinen Account? 
            <a href="/register">Hier registrieren</a>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- TODO: Toast kommt nur einmal -->
<ngb-toast id="loginToast" class="bg-danger text-light" header="Fehler" [hidden]="!showToast">
  {{specificError}}
</ngb-toast>
