<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label for="login" class="form-label">E-Mail</label>
          <input
            type="text"
            id="login"
            class="form-control"
            [(ngModel)]="login"
            name="login"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Passwort</label>
          <input
            type="password"
            id="password"
            class="form-control"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Anmelden</button>
        <button type="button" class="btn btn-secondary" (click)="onRegister()">
          Registrieren
        </button>
      </form>
    </div>
  </div>
</div>

<!-- TODO: Toast kommt nur einmal -->
<ngb-toast id="loginToast" class="bg-danger text-light" header="Fehler" [hidden]="!showToast">
  {{specificError}}
</ngb-toast>