<div class="container my-5">
   <h2 class="text-center">BMI Rechner</h2>
   <form [formGroup]="bmiForm" (ngSubmit)="calculateBMI()" class="bmi-form mt-4">
     
     <div class="form-group row mt-4">
       <label for="age" class="col-sm-3 col-form-label">Alter</label>
       <div class="col-sm-9">
         <input type="number" id="age" placeholder="Alter" formControlName="age" class="form-control">
       </div>
     </div>
 
     <div class="form-group row mt-4">
       <label class="col-sm-3 col-form-label">Geschlecht:</label>
       <div class="col-sm-9 d-flex align-items-center">
         <div class="form-check form-check-inline">
           <input type="radio" id="male" value="male" formControlName="gender" class="form-check-input">
           <label for="male" class="form-check-label">Männlich</label>
         </div>
         <div class="form-check form-check-inline">
           <input type="radio" id="female" value="female" formControlName="gender" class="form-check-input">
           <label for="female" class="form-check-label">Weiblich</label>
         </div>
       </div>
     </div>
 
     <div class="form-group row mt-4">
       <label for="height" class="col-sm-3 col-form-label">Grösse (in cm)</label>
       <div class="col-sm-9">
         <input type="number" id="height" placeholder="Grösse (in cm)" formControlName="height" class="form-control">
       </div>
     </div>
 
     <div class="form-group row mt-4 mb-4">
       <label for="weight" class="col-sm-3 col-form-label">Gewicht (in kg)</label>
       <div class="col-sm-9">
         <input type="number" id="weight" placeholder="Gewicht (in kg)" formControlName="weight" class="form-control">
       </div>
     </div>
 
     <div class="form-group row mt-4 mb-4">
       <div class="col-sm-12">
         <button type="submit" class="btn btn-primary w-100">Berechnen</button>
       </div>
     </div>
   </form>
 
   <p *ngIf="bmi" class="text-center mt-4">Dein BMI ist: {{ bmi }}</p>
 </div>
 