<header class="bg-dark py-3 fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" [routerLink]="['/']">Fitnesstracker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{'collapse': isCollapsed}">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/barcodescanner']">Lebensmittelscanner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/calories']">Kalorien</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/bmi']">BMI</a>
          </li>
          <li *ngIf="isLoggedIn()" class="nav-item">
            <a class="nav-link" [routerLink]="['/weight']">Gewicht</a>
          </li>
          <li *ngIf="!isLoggedIn()">
            <a class="nav-link" [routerLink]="['/login']">Login/Registrieren</a>
          </li>
          <li *ngIf="isLoggedIn()" class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" ngbDropdownToggle>
              <i class="fas fa-user"></i>  {{ username }}
            </a>
            <div *ngIf="isLoggedIn()" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown" ngbDropdownMenu>
              <a class="dropdown-item" [routerLink]="['/password']">Passwort ändern</a>
              <a class="dropdown-item" [routerLink]="['/profile']">Profil</a>
              <a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<footer class="fixed-bottom bg-dark text-white text-center py-3">
  <span>
    &copy; 2024 Fitnesstracker |
    <a class="text-white" [routerLink]="['/agb']">AGB</a> |
    <a class="text-white" [routerLink]="['/privacy']">Datenschutz</a> |
    <a class="text-white" [routerLink]="['/imprint']">Impressum</a>
  </span>
</footer>
<app-cookie-banner (cookiesAccepted)="onCookiesAccepted($event)" *ngIf="cookieBannerVisible && router.url !== '/login' && router.url !== '/profile' && !isLoggedIn()"></app-cookie-banner>
<router-outlet></router-outlet>