.container {
    max-width: 170vh;
    margin: 20vh auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .content h4 {
    margin-top: 1.5rem;
  }
  
  .content p {
    margin-bottom: 1.5rem;
    text-align: justify;
  }
  