<div class="container my-3">
    <h3 class="text-center">Datenschutzbestimmungen</h3>
    <div class="content">
        <h6>Einleitung</h6>
        <p>
            Willkommen auf unserer Datenschutzbestimmungen-Seite. Wir legen grossen Wert auf den Schutz Ihrer Daten und
            die Wahrung Ihrer Privatsphäre. Nachfolgend informieren wir Sie ausführlich über den Umgang mit Ihren Daten.
        </p>

        <h6>Verantwortliche Stelle</h6>
        <p>
            Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist: [Firma/Name], [Adresse],
            [Kontaktinformationen].
        </p>

        <h6>Erhebung und Speicherung personenbezogener Daten</h6>
        <p>
            Wir erheben und speichern Ihre personenbezogenen Daten nur, wenn Sie uns diese freiwillig mitteilen. Dies
            kann z.B. im Rahmen einer Anfrage oder Registrierung erfolgen.
        </p>

        <h6>Verwendung personenbezogener Daten</h6>
        <p>
            Die von Ihnen zur Verfügung gestellten personenbezogenen Daten verwenden wir ausschliesslich, um Ihre
            Anfragen zu beantworten und Ihnen Zugang zu bestimmten Informationen oder Angeboten zu verschaffen.
        </p>

        <h6>Weitergabe personenbezogener Daten</h6>
        <p>
            Eine Weitergabe Ihrer personenbezogenen Daten an Dritte erfolgt nicht, ausser es ist zur Erfüllung unserer
            Verpflichtungen Ihnen gegenüber erforderlich oder wir sind gesetzlich dazu verpflichtet.
        </p>

        <h6>Ihre Rechte</h6>
        <p>
            Sie haben das Recht, jederzeit Auskunft über Ihre bei uns gespeicherten personenbezogenen Daten zu erhalten,
            deren Berichtigung oder Löschung zu verlangen sowie der Verarbeitung Ihrer personenbezogenen Daten zu
            widersprechen.
        </p>

        <h6>Kontakt</h6>
        <p>
            Bei Fragen zum Thema Datenschutz können Sie sich jederzeit an uns wenden: [Kontaktinformationen].
        </p>
    </div>
</div>