<div class="container my-3">
  <h3 class="text-center">Impressum und Haftungsausschluss</h3>
  <div class="content mt-4">
    <h6>Verantwortliche Instanz:</h6>
    <p>
      Fitnesstracker<br>
      Wiesenstrasse 32<br>
      5400 Baden<br>
      Schweiz<br>
    </p>

    <h6>Vertretungsberechtigte Personen:</h6>
    <p>
      Nedim Porcic<br>
      Marco Manitta<br>
      Janis Furter<br>
    </p>

    <h6>Haftungsausschluss</h6>
    <p>
      Der Autor übernimmt keine Gewähr für die Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit
      der Informationen.
    </p>
    <p>
      Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, die aus dem Zugriff oder der
      Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch
      technische Störungen entstanden sind, werden ausgeschlossen.
    </p>
    <p>
      Alle Angebote sind freibleibend. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte
      Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder
      endgültig einzustellen.
    </p>

    <h6>Haftungsausschluss für Inhalte und Links</h6>
    <p>
      Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird jegliche
      Verantwortung für solche Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene
      Gefahr des jeweiligen Nutzers.
    </p>

    <h6>Urheberrechtserklärung</h6>
    <p>
      Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf dieser Website, gehören
      ausschliesslich Fitnesstracker oder den speziell genannten Rechteinhabern. Für die Reproduktion jeglicher Elemente
      ist die schriftliche Zustimmung des Urheberrechtsträgers im Voraus einzuholen.
    </p>
  </div>
</div>