<div class="container text-center my-5">
    <h1>Willkommen beim Fitnesstracker</h1>
    <p class="lead">
      Ihr persönlicher Begleiter für eine gesunde Lebensweise. Scannen Sie Lebensmittel, verfolgen Sie Ihre Kalorienaufnahme,
      und überwachen Sie Ihr Gewicht und Ihren Body-Mass-Index (BMI) im Laufe der Zeit. Der Fitnesstracker hilft Ihnen, Ihre Fitnessziele zu erreichen
      und ein gesünderes Leben zu führen.
    </p>
    
    <div class="row my-4">
      <div class="col-md-4">
        <i class="fas fa-barcode fa-3x"></i>
        <h3>Lebensmittel scannen</h3>
        <p>
          Mit unserem Barcodescanner können Sie schnell und einfach Lebensmittel einscannen und ihre Kalorieninformationen anzeigen.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-calculator fa-3x"></i>
        <h3>Kalorienbedarf berechnen</h3>
        <p>
          Berechnen Sie, wie viele Kalorien Sie pro Tag einnehmen sollten, basierend auf Ihren individuellen Zielen und Ihrem Aktivitätsniveau.
        </p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-chart-line fa-3x"></i>
        <h3>BMI und Gewicht verfolgen</h3>
        <p>
          Verfolgen Sie Ihren BMI und Ihr Gewicht mit Grafiken, um Ihre Fortschritte im Laufe der Zeit zu sehen und motiviert zu bleiben.
        </p>
      </div>
    </div>
  
    <div class="my-4">
      <button type="button" class="btn btn-primary btn-lg" routerLink="/login">
        Anmelden/Registrieren
      </button>
    </div>
  </div>
  