<div class="container my-5">
    <h2>Registrierung</h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form (ngSubmit)="onRegister()"> <!-- Event-Handler für Registrierung -->
          <div class="mb-3"> <!-- Abstand -->
            <label for="login" class="form-label">E-Mail</label> <!-- Label für E-Mail -->
            <input type="login" id="login" class="form-control" [(ngModel)]="login" name="login" required> <!-- Eingabe für E-Mail -->
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Passwort</label> <!-- Label für Passwort -->
            <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required> <!-- Eingabe für Passwort -->
          </div>
          <button type="submit" class="btn btn-primary">Registrieren</button> <!-- Schaltfläche für Registrierung -->
        </form>
      </div>
    </div>
  </div>
  
<ngb-toast id="registerToast" class="bg-danger text-light" header="Fehler" [hidden]="!showToast">
    {{specificError}}
</ngb-toast>